<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная страница</title>
</head>
<body>
    <h1>Главная страница</h1>
    <a href="selecting_supplier">Выбор поставщика</a>
    <a href="conclusion_contracts">Заключение договоров</a>
    <a href="acceptance_and_delivery">поставка и приемка сырья</a>
    <a href="settlements">Расчеты с поставщиками</a>
    <a href="statistics">Статистика</a>
</body>
</html>